<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="This is Andrew's Portfolio information" />
    <meta
      name="keywords"
      content="HTML, CSS, Nodejs, Javascript, MVC, Software Engineer, Application Developer"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,shrink-to-fit=no"
    />
    <meta name="author" content="Andrew Lawson" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css" />

    <script src=""></script>

    <title>Andrew's Killer Portfolio</title>
  </head>
  <body>
    <div class="container border border-primary rounded">
      <a href="../index.html">Main</a>
        <h1>Web Resources</h1>
      <ol class="bodyMain">
        <li><a href=https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap 4.0 </a><p>The most popular CSS Framework for developing responsive and mobile-first websites.<br /> <strong>Rating:1</strong> </p></li>
        <li><a href="https://nodejs.org/en/docs/">Node.JS </a><p>As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network applications. <br /> <strong>Rating:2</strong> </p></li>
        <li><a href="https://www.w3schools.com/">W3C School </a><p>a web developers site, with tutorials and references on web development languages such as HTML, CSS, JavaScript, PHP, SQL, Python, jQuery, Java, C++, C#, React, XML, W3.CSS, and Bootstrap, covering most aspects of web programming. <br /> <strong>Rating:6</strong> </p></li>
        <li><a href="https://tc39.es/ecma262/2020/">ECMASCript 2020 </a><p> ECMAScript has grown to be one of the world's most widely used general-purpose programming languages. It is best known as the language embedded in web browsers but has also been widely adopted for server and embedded applications <br /> <strong>Rating:5</strong> </p></li>
        <li><a href="https://jquery.com/">JQuery </a><p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript. <br /> <strong>Rating:3</strong> </p></li>
        <li><a href="https://reactjs.org/">REACT </a><p>React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes. <br /> <strong>Rating:7</strong> </p></li>
        <li><a href="http://www.css3.info/">CSS 3.0 </a><p>CSS3 is the new kid in the stylesheet family. It offers exciting new possibilities to create an impact with your designs, allows you to use more diverse style sheets for a variety of occasions and lots more. We created this site because we want to share our experiences of CSS3 with you, and want nothing more than to simply be the biggest online resource covering CSS3 <br /> <strong>Rating:4</strong> </p></li>
      </ol>
    </div>
  </body>
</html>
